<div class="container">
    <div class="article">
        <section class="article__left">
            <header class="article__header">
                <mat-icon class="icon--round">keyboard_backspace</mat-icon>
                <div class="article__header-controls">
                    <mat-icon class="icon--square">edit</mat-icon>
                    <img class="avatar avatar--small" src="assets/images/lannister.jpg">
                </div>
            </header>
            <div class="article__edit-form">
                <div class="form-field form-field--full">
                    <div class="form-field__label">Title *</div>
                    <input type="text" class="form-field__input" placeholder="This is title">
                </div>
                <div class="form-field form-field--full">
                    <div class="form-field__label">Tags</div>
                    <input type="text" class="form-field__input" placeholder="Type to add">
                </div>
                <div class="form-field form-field--with-arrow form-field--half">
                    <div class="form-field__label">Month & year</div>
                    <select class="form-field__select">
                        <option value="December">December</option>
                        <option value="December">November</option>
                    </select>
                </div>
                <div class="form-field form-field--with-arrow form-field--half">
                    <div class="form-field__label">Year</div>
                    <select class="form-field__select">
                        <option value="December">2014</option>
                        <option value="December">2015</option>
                    </select>
                </div>
                <div class="form-field form-field--with-arrow form-field--half">
                    <div class="form-field__label">School</div>
                    <select class="form-field__select">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
                <div class="form-field form-field--with-arrow form-field--half">
                    <div class="form-field__label">Course</div>
                    <select class="form-field__select">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
                <div class="form-field form-field--full">
                    <div class="form-field__label">Webpage / url</div>
                    <input type="text" class="form-field__input" placeholder="Webpage / url">
                </div>
                <div class="form-field form-field--full">
                    <div class="form-field__label">Abstract / Summary</div>
                    <textarea type="text"
                              class="form-field__textarea"
                              placeholder="Abstract / Summary"></textarea>
                </div>
            </div>
        </section>
        <section class="article__right">
            <header class="article__header">
                <div></div>
                <mat-icon class="icon--round">launch</mat-icon>
            </header>
            <div class="article__content">
                asdasdasd
            </div>
        </section>

    </div>
</div>