<mat-card class="article-preview">
    <img mat-card-image src="/assets/images/preview.jpg">
    <h4 mat-card-content>{{article.title}}</h4>
    <div mat-card-subtitle>
        <p>by Jamie Lannister</p>
        <p>{{article.month}} {{article.year}}</p>
    </div>
    <footer class="article-preview__footer" mat-card-content>
        <div class="article-preview__actions">
            <a [routerLink]="['/blog', 'article', article.id]">
                <mat-icon class="icon--round">visibility</mat-icon>
            </a>
            <mat-icon class="icon--round">launch</mat-icon>
        </div>
        <div class="article-preview__actions">
            <a [routerLink]="['/blog', 'article', article.id, 'edit']">
                <mat-icon class="icon--round">edit</mat-icon>
            </a>
            <img class="avatar avatar--small" src="assets/images/lannister.jpg">
        </div>
    </footer>
</mat-card>